<head>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Tinos' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <style>
      
body
{ margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

#menu {
  
  padding: 0px;
  margin-top: 10%;
  color: red;
  font-family: 'Quicksand', sans-serif;
}

#content {
  padding: 0px;
font-family: "Calibri";
color: blue;
}

button {
 color: purple;
 background: white ; 
  border: 1px solid purple;
  border-radius: 6px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}
      #instruct {
        font-family: 'Quicksand', sans-serif;
      }
  #copyright {
   display:block;
position: absolute;
bottom: 0;
width: 100%;

    
  }
     

      
      </style>
  <title>Moogle</title>
  </head>
<div class="content">
  
  <body>
    <div id= "menu">
<!-- <center><h1 style="font-size:300%">Moogle</h1> </center> -->
    <center> <a href="http://tinypic.com?ref=34t62x4" target="_blank"><img src="http://i62.tinypic.com/34t62x4.png" border="0" alt="Image and video hosting by TinyPic"></a></center>
<center><h5 style="color:purple" > For all your comic-character needs<h5></center>
</div> 
<div id="content">
<form action="/results" method="Post">
  <center>
      <div id="instruct">
  <label>Enter Official Character Name</label>
 &nbsp;
    
        
  <input class="input" type="text" name="user_input" >
        <button value="submit">Get info</button>

        </div>
    </div>
  <div id = "copyright">
    <a href="https://instagram.com/captain_rinne/">
<img src="http://i60.tinypic.com/2iqo8c3.png" border="0" alt="Image and video hosting by TinyPic" width="300" height="25" ></a>
  </div>



      </body>
